@font-face {
  font-family: "KGHAPPYShadows";
  src: url("fonts/kg-happy.regular.ttf") format("truetype");
}

h1 {
  font-family: "KGHappyShadows";
  background-color: white;
  /* color: green; */
  font-size: 150px;
  font-weight: normal;
  margin-left: 150px;
}
