# Frontend
node_modules/

# Python Backend
# Config files
config.py
# Data files
backend/data/*.json
# HTML output files 
backend/output/*.html
# Python cache
__pycache__
# Virtual environment
venv

# VSCode
.vscode/